mixin ours-plants(oursPlants)
    .c-ours-plants
        .container
            +main-section-title('Наши растения', 'c-ours-plants__section-icon')
        .c-ours-plants__gallery
            .c-ours-plants__gallery-item
                img(src=oursPlants[0].image)
            .c-ours-plants__gallery-item
                img(src=oursPlants[1].image)
            .c-ours-plants__gallery-item.c-ours-plants__gallery-item--w-2.c-ours-plants__gallery-item--h-2
                img(src=oursPlants[2].image)
            .c-ours-plants__gallery-item.c-ours-plants__gallery-item--w-2
                img(src=oursPlants[3].image)
            .c-ours-plants__gallery-item
                img(src=oursPlants[4].image)
            .c-ours-plants__gallery-item
                img(src=oursPlants[5].image)
            .c-ours-plants__gallery-item.c-ours-plants__gallery-item--h-2
                img(src=oursPlants[6].image)
        .container
            .row
                .col-md-offset-5.col-md-2
                    button.btn.btn-default Больше фотографий
