mixin ours-plants(oursPlants)
    .c-ours-plants
        .container
            +main-section-title('Наши растения', 'c-ours-plants__section-icon')
        .c-ours-plants__gallery
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-1.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-2.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-3.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-4.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-5.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-4.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-5.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-6.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-1.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            .c-ours-plants__gallery-item(style="background-image:url(../images/ours-plant-2.png)")
                a.c-ours-plants__gallery-item-link(href="#")
                    span.c-ours-plants__gallery-item-link-plus
            //
                .c-ours-plants__gallery-item
                    img(src=oursPlants[1].image)
                .c-ours-plants__gallery-item
                    img(src=oursPlants[2].image)

                .c-ours-plants__gallery-item
                    img(src=oursPlants[5].image)
                .c-ours-plants__gallery-item
                    img(src=oursPlants[6].image)
                .c-ours-plants__gallery-item
                    img(src=oursPlants[4].image)

                .c-ours-plants__gallery-item
                    img(src=oursPlants[1].image)
        .container
            .row
                .col-md-offset-5.col-md-2
                    button.btn.btn-default Больше фотографий
