include ../../components/header/header
include ../../components/navigation/navigation
include ../../components/breadcrumbs/breadcrumbs
include ../../components/main-section-title/main-section-title
include ../../components/section-title/section-title
include ../../components/sidebar/sidebar
include ../../components/garden-statistics/garden-statistics
include ../../components/footer/footer

-var data = require('./legal-position.data');

doctype html
html
    head
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Garden|Legal position
        meta(name='description', content= "Official Travnikov's garden site")
    body.c-garden-page
        +header
        +navigation
        .c-garden-page__header-image
        +breadcrumbs(data.breadcrumbs)
        .c-garden-page__title
            .container
                +main-section-title('Юридическое положение', 'fa fa-file-text-o')
        .c-garden-page__content
            .container
                .row
                    .col-md-9
                        p Сад П.И.Травникова - ценнейший объект культурного и экологического наследия Москвы, единственная сохранившаяся ООПТ (особо охраняемая природная территория) в ЦАО. Сад создавался в 1957-58 годах, и за время своего существования вместе со своим создателем Павлом Ивановичем Травниковым был удостоен грамот, медалей и признания, в 1989 году получил статус памятника природы, созданного руками человека.
                        p Мы живём в большом городе . Москва. Как часто люди проходят мимо домов, улиц и скверов, не замечая красоты вокруг себя. Люди бегут, бегут, их ничего не интересует кроме собственных проблем. А ведь можно и всю жизнь пробегать, так ничего и не заметив!
                        p Но стоит лишь чуть приоткрыть «форточку» своей души, вздохнуть полной грудью свежий воздух, и мир сразу преображается и окрашивается в новые, яркие краски. Между серыми домами появляется нечто светлое, счастливое, то, что не захочется забыть никогда, что будет греть и радовать душу всю жизнь.
                        .c-legal-position__documents
                            +section-title('Документы')
                            .c-legal-position__document-list
                                .row
                                    each item in data.documents
                                        .col-md-4
                                            .c-legal-position__document
                                                .c-legal-position__document-preview
                                                    img(src=item.image alt=item.name).c-legal-position__document-preview-image
                                                .c-legal-position__document-name=item.name
                                                .c-legal-position__document-download
                                                    i.c-legal-position__document-download-icon.fa.fa-file-pdf-o
                                                    a.c-legal-position__document-download-link(href=item.href)
                                                        span Скачать
                                                    span.c-legal-position__document-download-size=item.data
                    .col-md-3
                        +sidebar(data.sidebar)
        +footer